@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

:root {
    --primary-color: #1D2D50;  /* Azul Marinho Profundo */
    --secondary-color: #FFBB00;  /* Amarelo Brilhante */
    --accent1-color: #00A6A6;  /* Verde-Água */
    --accent2-color: #FF5733;  /* Laranja Coral */
    --accent3-color: #7A6A53;  /* Marrom Claro */
    --accent4-color: #292929;  /* Cinza Escuro */
    --heading-font: 'Montserrat', Sans-serif;  /* Fonte para Títulos */
    --paragraph-font: 'Roboto', Sans-serif;  /* Fonte para Parágrafos */
    --nav-background-color: #FFBB00;  /* Amarelo Brilhante */
    --fieldset-color: #ECECEC;  /* Cinza Claro */
    --nav-hover-link-color: #1D2D50;  /* Azul Marinho Profundo */
    --nav-hover-background-color: #FFBB00;  /* Amarelo Brilhante - Mesma cor do nav-background-color ao passar o mouse */
}

body {
    font-family: var(--paragraph-font);
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    max-width: 960px;
    color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: 15% 85%;
    width: auto;
    background-color: var(--accent2-color);
    font-size: large;    
}

header img {
    grid-column: 1;
    width: 100%;      
}

nav {
    grid-column: 2;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;    
}

nav a {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

nav a:hover, button:hover, .fullimage a:hover, .newsletter a:hover {
    color : var(--nav-hover-link-color);
    background-color : var(--accent1-color);
}

.box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
    background-color: var(--accent1-color);                 
}

.box img {
    width: 100%;
    display: flex;
    align-items: center;
}

figure img {
   max-width: 120px;   
}

.hero, .herofullimage, .promotion {
    position: relative;
    margin-top: 20px;
}

.hero img, .herofullimage img {
    display: block;
    width: 100%;
    height: auto;
}

.herofullimage h3 {
    position: absolute;
    font-size: 50px;
    text-shadow: 0 0 5px #FAEC7C;
    top: 30%;
    left: 13%;
    color: #452c0d;
    background-color: #ff9500;    
	padding: 1rem;
	opacity: 0.8;
}
    
.hero h1, .herofullimage h1 {
    position: absolute;
    color: var(--primary-color);
    top: 10px;
    left: 400px;
    background-color: var(--secondary-color);
    padding: 1rem;
 }

.hero article {
    position: absolute;
    top: 50%;
    left: 400px;
    background-color: var(--accent2-color);
    opacity: .8;    
}

.hero article img {
    float: right;
    width: 50%;
}

.hero p {
    font-weight: bold;
    font-size: 25px;
    color: var(--primary-color);
    margin: 30px 10px 10px 10px;
    text-shadow: 0 0 5px #FAEC7C;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

h2, .description h3, .description2 h3, .one h4, .three h4, .four h4, .five h4 {
    display: grid;
    padding: 20px;
    width: auto;
    background-color: var(--primary-color);
}

.history p {
    display: grid;
    padding: 20px;
    width: auto;
    background-color: var(--accent1-color);    
}

.viewriver {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    margin: 0;
    column-gap: 10px;
    background-color: var(--accent1-color);
    padding: 10px;
    text-align: left;
}

.viewriver img{
    width: 100%;    
    grid-column: 2;       
}

.viewriver p{
    display: flex;
    align-items: center;
}

form {
    display: grid;
    margin: 0 auto;
    padding: 1rem;    
    background-color: var(--primary-color);
    margin-top: 20px; 
    width: 700px;             
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 2px solid var(--fieldset-color);
    padding: 2rem;
    color: var(--accent1-color);    
}

legend {
    padding: 0.5rem;
    color: var(--secondary-color);
    font-size: 1.3em;       
}

label {
    text-align: right;
    padding-right: 1rem;
}

button {
    margin: 1rem;
    background-color: var(--accent2-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5rem;
    padding: 0.75rem;
    font-size: 1.2rem;      
}

.interest {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;    
}

.contact, .comments, .newsletter {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 1rem;          
}

.employee, .location, .map {
    background-color: var(--accent1-color);
    margin: 0 auto;
    padding: 1rem;         
}

.employee {
    display: grid;
    grid-template-columns: repeat(3, 1fr);      
}

.employee img {
    width: 100%;
}

.trips {
    display: grid;
    grid-template-columns: repeat(2, 1fr);        
    grid-auto-rows: minmax(100px, auto);
    gap: .8rem;  
    margin: 0 auto;
    padding: 1rem;    
    background-color: var(--primary-color);
    margin-top: 20px; 
    max-width: 960px;
    position: relative;                            
}

.boximages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);               
    gap: .8rem;  
    padding: 1rem;    
    background-color: var(--primary-color);
    max-width: 960px;                            
}

.trips img, .boximages img {
    width: 100%;
	height: 100%;   
	object-fit: cover;  
}

.one, .three, .four, .five, .description, .description2 {
    margin: 0 auto;
    padding: .5rem;      
    background-color: var(--accent1-color);
    text-align: center;          
}

.one p, .three p, .four p, .five p, li, .description p, .description2 p {
    text-align: left;
}

.green-river {
    grid-column: 2;
    grid-row: 1;
}

.description {
    grid-column: 1;
    grid-row: 1;
}

.green-river2 {
    grid-column: 1;
    grid-row: 2;
}

.description2 {
    grid-column: 2;
    grid-row: 2;
}

.trips a:link, .herofullimage a:link {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

.promotion{
    display: block;
    position: relative;
}

.promotion img {
    width: 100%;
    height: 100%;
}

.promotion a:link {
    position: absolute;
    background-color: var(--accent2-color);
    color: #452c0d;
    padding: 25px;
    text-align: center;
    text-decoration: none;    
    font-size: 97px;
    border-radius: 10rem;
    opacity: .8;
    top: 25%;
}

.rapids1 {
    grid-column: 1;
    grid-row: 1;    
}

.one {
    grid-column: 2;
    grid-row: 1;
}

.one h3 {
    position: absolute;
	top: 237px;
	left: 30px;
	background: var(--primary-color);
	border: var(--fieldset-color);
	padding: 1rem;
    font-size: 1.5rem;
	opacity: 0.8;
 }

.rapids3 {
    grid-column: 2;
    grid-row: 2;
}

.three {
    grid-column: 1;
    grid-row: 2;
}

.three h3 {
    position: absolute;
	top: 559px;
	right: 30px;
	background: var(--primary-color);
	border: var(--fieldset-color);
	padding: 1rem;
    font-size: 1.5rem;
	opacity: 0.8;
 }

.rapids4 {
    grid-column: 1;
    grid-row: 3;    
}

.four {
    grid-column: 2;
    grid-row: 3;
}

.four h3 {
    position: absolute;
	top: 895px;
	left: 30px;
	background: var(--primary-color);
	border: var(--fieldset-color);
	padding: 1rem;
    font-size: 1.5rem;
	opacity: 0.8;
 }

.rapids5 {
    grid-column: 2;
    grid-row: 4;
}

.five {
    grid-column: 1;
    grid-row: 4;
}

.five h3 {
    position: absolute;
	top: 1220px;
	right: 20px;
	background: var(--primary-color);
	border: var(--fieldset-color);
	padding: 1rem;
    font-size: 1.5rem;
	opacity: 0.8;
 }

table {
   display: block;
    margin: 0 auto;
    padding: 30px;
    max-width: 960px;
    color: var(--primary-color);
    background-color:#FAEC7C;    
}

td {    
    font-family: var(--paragraph-font);
    text-align: center;
    padding: 30px;
    color: var(--primary-color);   
    font-size: 15px;
    background-color: #ff9500;
    opacity: 0.9;
}

th {
    color: #F39B2A;
    background-color: #452c0d; 
    text-align: center;
    font-size: 20px;
    opacity: 0.9;
    padding: 30px;   
}

tr:hover {
    background-color: coral;
}

table li::marker {
    content: '- ';
    font-size: 1.2em;
  }

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: var(--paragraph-font);
    margin-top: 1rem;
    border-top: 2px solid #A54C40;
}

.sociallinks {
    display: flex;
    justify-content: end;       
}

a:link {
    text-decoration: none;
  }