/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap');

:root {
    --primary-color: #219ebc;
    --secondary-color: #023047;
    --accent1-color: #ffb703;
    --accent2-color: #fb8500;
    --heading-font: 'Josefin Sans', serif;
    --paragraph-font: 'Roboto', serif;
}

nav {
    background-color: var(--primary-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--secondary-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:visited {
    color: var(--secondary-color);
}

nav a:hover {
    color: var(--accent2-color);
    background-color: var(--accent1-color);
}

body {
    max-width: 960px;
    padding: 20px;
    font-family: var(--paragraph-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

header {
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    margin: 0 auto;
    max-width: 840px;
}

/* Updated styling for main */
main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center; /* Center content vertically */
    gap: 20px; /* Adds some space between columns */
    margin: 0 auto;
    max-width: 840px;
}

p {
    padding: 25px;
}

footer {
    margin: 0 auto;
    max-width: 840px;
}

/* Updated styling for grid */
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    max-width: 840px;
}

/* Updated styling for aside */
aside {
    padding: 20px;
    background-color: lightgray;
}

/* Updated styling for main (background color) */
main {
    background-color: lightblue;
}
