@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

:root {
    --primary-color: #A54C40;
    --secondary-color: #F39B2A;
    --accent1-color: #A95F4D;
    --accent2-color: #FECF00;
    --heading-font:'Urbanist', Sans Serif;
    --paragraph-font:'Montserrat', Sans Serif;
    --nav-background-color: #FAEC7C;
    --nav-link-color: #A54C40;
    --nav-hover-link-color: #000000;
    --nav-hover-backgroung-color: #ffffff;
}

body {
    font-family: var(--paragraph-font);
    text-align: center;
    margin: 0 auto;
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent2-color)
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    display: flex;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer {
    font-family: var(--paragraph-font);
    margin-top: 1rem;
    border-top: 2px solid #A54C40;
    text-align: center; 
}