*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
    background-color: steelblue;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p { 
padding: 0;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    top: 47px;
    left: 150px; 
}

aside img {
    width: 200px; 
    height: auto;
}

aside h2 {
    position: absolute;
    top: 2px;
    left: 45px
}

footer {
    margin-top: 1em; 
    border-top: 1px solid #000; 
    text-align: center;
}

/* Class Selectors */
.box{   
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: lightgray;
    color: #000;
}